@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");

:root {
  --mainPink: #ef7998;
  --mainYellow: rgb(249, 228, 148);
  --mainWhite: #fff;
  --mainBlack: #000;
  --yellowTrans: rgba(249, 228, 148, 0.5);
  --mainGrey: rgb(238, 238, 238);
}

body {
  font-family: "Kaushan Script", cursive;
  background: var(--mainWhite);
  color: var(--mainBlack);
}

/*-- nav links *--*/
.navbar-toggler {
  outline: none !important;
}

.toggler-icon {
  font-size: 2.5rem;
  color: var(--mainPink);
}

.nav-link {
  color: var(--mainPink);
  font-size: 1.5rem;
  transition: all .3s ease-in-out;
}

.nav-link:hover {
  color: var(--mainBlack);
}

/*-- cart styles *--*/
.cart-info__icon {
  color: var(--mainBlack);
  cursor: pointer;
}

.cart-info {
  border: .1rem solid var(--mainBlack);
  color: var(--mainBlack);
  border-radius: .25rem;
  padding: .4rem .6rem;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.cart-info:hover {
  background: var(--mainPink);
  border-color: var(--mainPink);
  color: var(--mainWhite);
}

.cart-info:hover .cart-info__icon {
  color: var(--mainYellow);
}

.nav-phone {
  transition: all .5s ease;
  cursor: pointer;
}

.nav-phone:hover {
  transform: rotate(-10deg);
}

/*-- banner  links *--*/
.max-height {
  min-height: calc(100vh - 76px);
  background: linear-gradient(var(--yellowTrans), var(--yellowTrans)),url('../img/headerBcg.jpeg') center/cover fixed no-repeat;
  position: relative;
}

.banner {
  color: var(--mainWhite);
  margin-top: 4rem;
}

.banner-link {
  font-size: 1.5rem;
  color: var(--mainBlack);
  border: .2rem solid var(--mainBlack);
  transition: all .5s ease-in-out;
}

.banner-link:hover {
  background: var(--mainBlack);
  color: var(--mainPink);
}
/*-- end of banner  links *--*/

/*-- end of nav links *--*/
